.no-js .top-bar {
  display: none;
}
/* custom header navigation bar config */
.custom-top {
  position: fixed;
  padding-top: 10px;
  width: 100%;
  box-shadow: 0 10px 15px #33AAFF;
  border-bottom: 1px solid rgba(255,255,255,1);
  z-index: 99;
}
main {
  padding-top: 100px;
}
/* spacing for the site */
.space {
  padding: 50px;
}
.space3 {
  padding: 150px;
}
.section {
  padding: 20px;
}
/* top image on developers page */
#dev-top {
  background-image: url("../images/developer.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
.news-img {
  margin: 10px;
}
.nav-icon {
  padding: 10px;
  width: 2rem;
  color: rgba(255,255,255,1);
  float: right;
}
.nav-icon:hover {
  color: #33AAFF;
}
.logo {
  margin-top: 5px;
  width: 40px;
  height: 40px;
}
.menu {
  padding-top: 10px;
  font-size: 0.7rem;
}
#nav-menu {
  padding-top: 30px;
}
/* sets cards borders and shadows for team members */
.card {
  border-radius: 10px;
  box-shadow: 5px 5px 15px #b2b2b2;
}
a {
  color: rgba(255,255,255,1);
}
a:hover {
  color: #33AAFF;
}
/* sets the background colors accordingly */
.bd-black {
  background: rgba(0,0,0,1);
  color: rgba(255,255,255,1);
}
.bd-blue {
  background: #3B5998;
}
/* creates rounded groups for search bar and other items */
.input-group {
  height: 2.2rem;
  margin-bottom: 0;
}
.input-group-rounded .input-group-field {
  border-radius: 20px 0 0 20px;
  padding-left: 1rem;
}
.input-group-rounded .input-group-button .button {
  border-radius: 0 20px 20px 0;
  font-size: 1rem;
}
.search {
  max-width: 300px;
}
/* centers items */
.center {
  margin: 0 auto;
}
/* adds the lines and coloring size for menu items that will be hovered */
.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.35s ease;
}
.menu-hover-lines li a {
  padding: 0.75rem 0;
  color: rgba(255, 255, 255, 1);
  position: relative;
  margin-left: 1rem;
}
.menu-hover-lines li:first-child a {
  margin-left: 0;
}
.menu-hover-lines li.active > a {
  background-color: transparent;
}
.menu-hover-lines a:before,
.menu-hover-lines a::after {
  height: 3px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  background-color: #33AAFF;
  width: 0;
}
.menu-hover-lines a::before {
  top: 0;
  left: 0;
}
.menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}
.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
  color: #33AAFF;
  transition: all 0.35s ease;
}
.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
  width: 100%;
}
/* sets the index page background image to rotating world gif */
.bd-image {
  background-image: url("../images/world.gif");
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/* creates the Tron appearance when hovering buttons on home page */
.btn-home {
  background: none;
  color: #FFFFFF;
  display: inline-block;
  width: 35%;
  transition: all 280ms ease-in-out 0s;
  letter-spacing: 1px;
}
.btn-home::after, .btn-home::before {
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0;
  content: " ";
  display: block;
  margin: 15px auto;
  position: relative;
  transition: all 280ms ease-in-out 0s;
  width: 0;
  box-shadow: 0px 0px 0px #33AAFF;
}
.btn-home:hover {
  letter-spacing: 4px;
  color: #33AAFF;
}
.btn-home:hover::after, .btn-home:hover::before {
  border: 1px solid #33AAFF;
  transition: width 350ms ease-in-out 0s;
  width: 100%;
  box-shadow: 0 0 19px 1px #33AAFF;
}
iframe {
  width: 100%;
  height: 100%;
}
.video-frame {
  border: 3px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 15px #b2b2b2;
  width: 75%;
  height: 75vh;
}
.dev-block {
  background: rgba(255, 255, 255, 1);
  color: rgba(0,0,0,1);
  height: 250px;
  box-shadow: 0 0 15px #b2b2b2;
}
.dev-btn {
  width: 100%;
  background: #33AAFF;
  box-shadow: 0 0 15px #b2b2b2;
}
.wp-btn {
  width: 150px;;
  background: #33AAFF;
  box-shadow: 0 0 15px #b2b2b2;
}
.dev-icon {
  font-size: 2rem;
  padding-bottom: 20px;
}
.clear-img {
  opacity: 0.5;
  z-index: 1;
}
.document-link a {
  color: #33AAFF;
}
.document-link a:hover {
  color: #3B5998;
}
.round {
  border-radius: 10px;
}
footer {
  z-index: 99;
  border-top: 1px solid rgba(255,255,255,1);
  box-shadow: 0 -10px 15px #33AAFF;
}
footer li {
  font-style: italic;
}
footer .fab { 
  padding: 10px;
  font-size: 18px;
  width: 40px;
  border: 1px solid #FFFFFF;
  text-align: center;
  text-decoration: none; 
}
/* Add a hover effect if you want */
footer .fab:hover { 
  opacity: 0.6; 
}
/* Set a specific color for each brand */
/* Facebook */
footer .fa-facebook-f { 
  background: #3B5998;
  border-radius: 15px;
  color: #FFFFFF; 
}
/* Twitter */
footer .fa-twitter { 
  background: #55ACEE;
  border-radius: 15px;
  color: #FFFFFF;
}     
footer .fa-instagram { 
  background: #E1306C;
  border-radius: 15px;
  color: #FFFFFF; 
}     
footer .fa-youtube { 
  background: #C4302B;
  border-radius: 15px;
  color: #FFFFFF; 
}     
footer .fa-soundcloud { 
  background: #FF7700;
  border-radius: 15px;
  color: #FFFFFF; 
}      
footer .fa-linkedin-in { 
  background: #0E76A8;
  border-radius: 15px;
  color: #FFFFFF; 
}
/* sets the image on the site construction page */
.construction {
  background-image: url("../images/construction.jpg");
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 85vh;
}
@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }
  
  .no-js .title-bar {
    display: none;
  }
  /* sets the page index to a fixed position on given screen size */
  .index {
    position: fixed;
  }
}
@media screen and (min-width: 64em) {
  /* minimizes main section to 96% origi */
  main {
    width: 96%;
  }
}